body {
    text-align: center;
    color: #020e21;
    font-family: sans-serif;
    background-color: #e8b6ed;
}

.panel{
    background-color: #e8b6ed;
}

h1 {
    text-shadow: 2px 2px 5px red;

}

h2 {
    /*font-family: Monoton;*/
    margin: 1em 0 0.25em;
    font-weight: 200;
    /*font-style: oblique;*/
    color:  #ff66d9;
}

h2:first-of-type {
    margin-top: 0.5em;
    font-weight: bolder;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 17px;
}

td {
    width: 17px;
}

/*input[type=number] {
    width: 6em;
}*/


/*#inputHeight,#inputWidth{
  font-style: italic;
  filter: drop-shadow();
  border-color: inherit;
  border-radius: 10px;
  font-weight: bolder;
}*/

footer {
    padding: 2em 0;
    margin: 3em 3em;
    border-top: 1px solid #ddd;
    color: #999;
    text-align: center;
}

.jumbotron{
    margin: 0 3em;
}

